* {
    margin: 5;
    padding: auto;
    box-sizing: border-box;
}

html{
    overflow: hidden;
    background-color: antiquewhite;
}

body {
    max-width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

p {
    color: #413025;
    font-size: 50px;
    line-height: 5%;
    text-align: center;
}

a {
    color: #413025;
}

.red-text {
    color: darkred;
    font-style: italic;

}

.strike-thru {
    text-decoration: line-through;
}

#verse {
    font-size: 25px;
}

.fade-in-text {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}